@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    @apply text-[88%] sm:text-[90%] lg:text-[95%] 2xl:text-[100%];
  }

  body,
  #root {
    @apply min-h-screen;
    max-height: max-content;
  }

  #root {
    @apply bg-white rounded-tl-3xl;
  }

  body {
    @apply sm:pl-5 sm:pt-5 bg-zinc-100;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
